.wrapper {
  margin-top: 2rem;
}

.comment-field {
  width: fit-content;
}

.enable-markdown {
  display: flex;
  gap: 0.5rem;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.comment {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.username {
  font-size: 0.875rem;
}

.delete {
  height: fit-content;
}
