.header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: fit-content;
  color: var(--foreground);
  font-size: 1.5rem;
  font-weight: 500;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-link {
  font-size: 0.875rem;
  font-weight: 500;
}

@media (max-width: 500px) {
  .header {
    gap: 0;
  }
  .nav {
    margin-left: 1rem;
  }
}
