.search {
  flex: 1 1 0%;
  max-width: 32rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-input-wrapper {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background-color: var(--surface);
  border-radius: var(--rounding-base);
  padding: 0.5rem 2rem;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.25rem;
}

.results {
  position: relative;
}

.results-list-wrapper {
  position: absolute;
  width: 100%;
  padding: 1rem 2rem;
  border-end-end-radius: var(--rounding-medium);
  border-end-start-radius: var(--rounding-medium);
  background-color: var(--surface);
}

.results-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

.result {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
