.search {
  flex: 1 1 0%;
  max-width: 32rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-input-wrapper {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  background-color: rgb(var(--surface));
  border-radius: var(--rounding-base);
  padding: 0.5rem 2rem;
}
.search-active {
  border-radius: var(--rounding-medium);
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.25rem;
}

.mobile-search-button {
  display: none;
}

@media (max-width: 500px) {
  .search-input-wrapper {
    display: none;
  }
  .mobile-search-button {
    display: block;
    background-color: transparent;
    padding: 0;
    width: fit-content;
    align-self: flex-end;
  }
}

.absolute-wrapper {
  position: relative;
}

.results {
  width: 100%;
  padding: 1rem 2rem;
  border-end-end-radius: var(--rounding-medium);
  border-end-start-radius: var(--rounding-medium);
  background-color: rgb(var(--surface));
  position: absolute;
}

.results-list {
  margin-bottom: 1rem;
}

.result {
  padding: 0.5rem 1rem;
  display: flex;
}

.user {
  align-items: center;
  gap: 1rem;
}

.article {
  flex-direction: column;
  gap: 0.5rem;
}

.username {
  color: rgb(var(--foreground-variant));
  font-size: 0.875rem;
}
