.user-wrapper {
  display: flex;
  gap: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: fit-content;
  word-break: break-all;
}

.username {
  font-size: 2rem;
  font-weight: 600;
}
.small-username {
  font-size: 1.5rem;
}

.bio {
  max-width: 50ch;
  word-break: break-all;
  hyphens: manual;
  color: rgb(var(--foreground-variant));
}

.no-bio {
  font-style: italic;
  color: rgb(var(--foreground-variant) / 0.7);
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.button {
  max-width: fit-content;
  margin-top: 0.75rem;
}

@media (max-width: 500px) {
  .section {
    flex-direction: column;
    justify-content: center;
  }
}
