.article {
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.article h1,
.article h2,
.article h3,
.article h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

.article h2,
.article h3 {
  border-bottom: 1px solid rgb(var(--outline));
  padding-bottom: 0.3em;
}

.article h1 {
  font-size: 2.5em;
}

.article h2 {
  font-size: 2em;
  font-weight: 600;
}

.article h3 {
  font-size: 1.5em;
  font-weight: 600;
}

.article h4 {
  font-size: 1.25em;
  font-weight: 600;
}

.article p,
.article ol,
.article ul,
.article blockquote,
.article table,
.article pre,
.article details {
  margin-top: 0;
  margin-bottom: 1rem;
}

.article ul,
.article ol {
  padding-left: 2em;
  list-style-type: revert !important;
}

.article blockquote {
  border-left: 0.25em solid rgb(var(--outline));
  padding: 0.5rem 1rem;
  margin: 0;
  margin-bottom: 1rem;
}

.article code {
  color: #c1798b;
  background-color: #f9f2f4;
  padding: 2px 3px;
  border-radius: 2px;
}

.article pre code {
  display: block;
  padding: 1rem 0.5rem;
}
