.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: fit-content;
}

.copy {
  margin-top: 1rem;
  width: fit-content;
}
