.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.articles {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.articles li {
  flex-grow: 1;
}
.articles li article {
  width: 100%;
}

.more-button {
  display: block;
  margin-top: 1rem;
}

.topics {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.random {
  width: 100%;
}
