.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.list[hidden] {
  display: none;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diffs {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.diff {
  display: flex;
  justify-content: space-between;
}
