.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.checkbox {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--secondary);
  border-radius: var(--rounding-small);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox:checked {
  background-color: var(--link);
  border-color: var(--link);
}
.checkbox::before {
  content: "";
  background: url("/check.svg") no-repeat center / contain;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.checkbox:checked::before {
  opacity: 1;
}

.article {
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.article h2,
.article h3,
.article h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

.article h2,
.article h3 {
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 0.3em;
}

.article h2 {
  font-size: 2em;
  font-weight: 600;
}

.article h3 {
  font-size: 1.5em;
  font-weight: 600;
}

.article h4 {
  font-size: 1.25em;
  font-weight: 600;
}

.article p,
.article ol,
.article ul,
.article blockquote,
.article table,
.article pre,
.article details {
  margin-top: 0;
  margin-bottom: 1rem;
}

.article ul,
.article ol {
  padding-left: 2em;
  list-style-type: revert !important;
}

.article blockquote {
  border-left: 0.25em solid var(--secondary);
  padding: 0.5rem 1rem;
  margin: 0;
  margin-bottom: 1rem;
}
