.form {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav {
  display: flex;
  gap: 0.5rem;
}

.friend {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
