.mobile-search {
  display: none;
}

@media (max-width: 500px) {
  .mobile-search {
    display: grid;
    gap: 0.5rem;
  }
}

.users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.results {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.results li {
  flex-grow: 1;
}
.results li article {
  width: 100%;
}
.results[hidden] {
  display: none;
}

.search-page-wrapper {
  margin-top: 2rem;
}

.toggle-wrapper {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
