@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: ;
  --on-background: ;
  --surface: ;
  --on-surface: var(--on-background);
  --primary: ;
  --on-primary: ;
  --secondary: ;
  --on-secondary: ;
}
