@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark light;
    scroll-behavior: smooth;
  }
}

@layer components {
  button {
    @apply rounded-full py-3 transition-[filter];
  }
  button:hover {
    @apply brightness-110;
  }
  button.primary {
    @apply bg-primary-container;
  }
  button.secondary {
    @apply bg-secondary-container;
  }
}
