.wrapper {
  display: flex;
  gap: 2rem;
}

.info {
  display: grid;
  gap: 1rem;
  width: fit-content;
}

.bio {
  max-width: 50ch;
}

.no-bio {
  opacity: 0.8;
}

.button {
  max-width: fit-content;
}
