.link-button {
  background-color: var(--link);
  color: var(--background);
  padding: 0.5rem 0.875rem;
  border-radius: var(--rounding-base);
}

.centered-section {
  max-width: fit-content;
  margin: auto;
}

.error {
  color: var(--error);
  margin: 0.25rem 0;
  font-size: 0.875rem;
}

.pfp {
  border-radius: var(--rounding-base);
}
