.link-button {
  padding: 0 0.875rem;
  /* padding: 0.5rem 0.875rem; */
  background-color: var(--link);
  color: var(--background);
  border-radius: var(--rounding-base);

  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.centered-section {
  max-width: fit-content;
  margin: auto;
}

.error {
  color: var(--error);
  margin: 0.25rem 0;
  font-size: 0.875rem;
}

.pfp {
  border-radius: var(--rounding-base);
}

.h3 {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
