:root {
  --primary: black;
  --secondary: #555555;
  --background: white;
  --link: #3366cc;
  --error: #b50000;

  --rounding-base: 9999px;
  --rounding-small: 6px;
}

html {
  color-scheme: light dark;
}

body {
  max-width: 1024px;
  margin: 1rem auto;
}

a {
  color: var(--link);
  text-decoration: none;
}

button {
  padding: 0.5rem 1.75rem;
  border: none;
  background-color: var(--primary);
  color: var(--background);
  border-radius: var(--rounding-base);
  font-weight: 500;
  font-size: 0.875rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: white;
    --secondary: #cbcbcb;
    --background: black;
    --link: #88a3e8;
    --error: #ffbcbc;
  }
}
