.input {
  min-width: 0;
  padding: 0.5rem 1rem;
  border: none;
  outline: 1px solid var(--secondary);
  background-color: transparent;
  border-radius: var(--rounding-small);
  font-size: 1.75rem;
}
.input:focus {
  outline: 2px solid var(--primary);
}
.input--error {
  outline: 1px solid var(--error) !important;
  animation: shake-input 0.1s;
  animation-iteration-count: 3;
}

.textarea-wrapper {
  position: relative;
}

.textarea {
  resize: vertical;
  font-family: inherit;
}

.length {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

@keyframes shake-input {
  from {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-1%);
  }
  to {
    transform: translateX(1%);
  }
}
