.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  min-width: 240px;
  border: 1px solid rgb(var(--outline));
  background-color: rgb(var(--surface));
  color: rgb(var(--foreground));
  border-radius: var(--rounding-medium);
}

.error {
  border: 1px solid rgb(var(--error));
  color: rgb(var(--error));
}

.title {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}
