.toggle-wrapper {
  position: relative;
}
.checkbox {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.toggle-children {
  user-select: none;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: var(--rounding-base);
}

.checkbox:checked + .toggle-children {
  background-color: var(--primary);
  color: var(--background);
  font-weight: 600;
}
