.link-button {
  background-color: var(--primary);
  color: var(--background);
  padding: 0.25rem 0.875rem;
  border-radius: var(--rounding-base);
}

.centered-section {
  max-width: fit-content;
  margin: auto;
}
